@model Web.HRM.Models.Employee

@{
    ViewBag.Title = "Create";

    var lstDept = ViewBag.DeptList;
    var lstDesignation = ViewBag.DesignationList;

}

@*<h2>Create</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Employee Information</h4>
        <hr />
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>@Html.LabelFor(model => model.EmpCode, new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.EditorFor(model => model.EmpCode)
                    @Html.ValidationMessageFor(model => model.EmpCode)
                </td>
                <td>@Html.LabelFor(model => model.FullName, new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.EditorFor(model => model.FullName)
                    @Html.ValidationMessageFor(model => model.FullName)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.NickName, new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.EditorFor(model => model.NickName)
                    @Html.ValidationMessageFor(model => model.NickName)
                </td>
                <td>@Html.LabelFor(model => model.DesignationId, "Designation", new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.DropDownList("DesignationId", "---Select Dept---")
                    @Html.ValidationMessageFor(model => model.DesignationId)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.DeptId, "Dept", new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.DropDownList("DeptId", "---Select Dept---")
                    @Html.ValidationMessageFor(model => model.DeptId)
                </td>
                <td>@Html.LabelFor(model => model.Phone, new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Email, new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
                <td>@Html.LabelFor(model => model.Address, new {@style = "width : 150px", @class = "control-label col-md-2" })</td>
                <td>
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary" /> ||
                    @Html.ActionLink("Back to List", "Index")

                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <hr />
        <table>
            <tr>
                <td>@Html.Label("Dept: ", new { @style = "width : 150px", @class = "control-label col-md-2" }) </td>
                <td>
                    @Html.DropDownList("DeptSearch", new SelectList(lstDept, "Id", "Name"), "---Select Dept---", new { @style = "width : 200px", @class = "form-control" })
                </td>
                <td>@Html.Label("Designation: ", new { @class = "control-label col-md-2" })</td>
                <td>

                    @Html.DropDownList("DesigSearch", new SelectList(lstDesignation, "Id", "Name"), "---Select Designation---", new { @style = "width : 200px", @class = "form-control" })
                </td>
                <td>
                    <input type="button" value="Search" class="btn btn-primary" id="getData" />
                </td>
            </tr>
        </table>

    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

<br /><br /><br />

<div id="saveDiv">
    @{ Html.RenderAction("_LoadSearchEmployee", new { desigId = "", deptId = "" }); }
</div>
<div id="partial">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {

            $('#getData').click(function () {
                //alert('Clicked');
                var deptId = $('#DeptSearch').val();
                var desigId = $('#DesigSearch').val();
                $('#saveDiv').hide();

                var url = "@Html.Raw(Url.Action("_LoadSearchEmployee", "Employee", new { desigId = "-parameter", deptId = "sempar" }))";
                url = url.replace("-parameter", desigId);
                url = url.replace("sempar", deptId);
                $('#partial').load(url);
            });


            $('#editRow').click(function () {

                //var Something = $(this).closest('tr').find('td:eq(0)').text();
                //alert(Something);

                $('#EmpCode').val($(this).closest('tr').find('td:eq(0)').text().trim());

             });


        });
    </script>
}
